In [1]:
import pandas as pd
df = pd.read_csv("../data/TMDB_movie_dataset.csv", encoding="ISO-8859-1")
print(f"Dataset has {df.shape[0]} rows and {df.shape[1]} columns.")
df.head(5)

Dataset has 1048575 rows and 24 columns.

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,15-07-2010,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,05-11-2014,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,16-07-2008,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,15-12-2009,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,25-04-2012,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [4]:
print(df.columns.tolist())
print(df.dtypes)

['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords']
id                        int64
title                    object
vote_average            float64
vote_count                int64
status                   object
release_date             object
revenue                   int64
runtime                   int64
adult                      bool
backdrop_path            object
budget                    int64
homepage                 object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity              float64
poster_path              object
tagline                  object
genres                   object
production_companies     object
production_countries     object
spoken_languages         object
keywords                 object
dtype: object

In [5]:
print("\nMissing values:\n", df.isnull().sum())
df.describe(include="all").T.head(20)

Missing values:
 id                           0
title                        9
vote_average                 0
vote_count                   0
status                       0
release_date            216568
revenue                      0
runtime                      0
adult                        0
backdrop_path           756556
budget                       0
homepage                936753
imdb_id                 507558
original_language            0
original_title               9
overview                224810
popularity                   0
poster_path             351930
tagline                 891035
genres                  435316
production_companies    578840
production_countries    481412
spoken_languages        456155
keywords                758781
dtype: int64

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,1048575.0,NaN,NaN,NaN,820631.492759,468164.881715,2.0,420719.5,728751.0,1263762.5,1532449.0
title,1048566,900830,Home,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vote_average,1048575.0,NaN,NaN,NaN,2.070838,3.120089,0.0,0.0,0.0,5.0,10.0
vote_count,1048575.0,NaN,NaN,NaN,20.459518,331.56666,0.0,0.0,0.0,1.0,34495.0
status,1048575,6,Released,1015468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,832007,42295,01-01-2006,2901,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revenue,1048575.0,NaN,NaN,NaN,790323.104378,20596632.218036,-12.0,0.0,0.0,0.0,4999999999.0
runtime,1048575.0,NaN,NaN,NaN,47.380917,62.699866,-28.0,0.0,21.0,89.0,14400.0
adult,1048575,2,False,950804,NaN,NaN,NaN,NaN,NaN,NaN,NaN
backdrop_path,292019,289427,/3CxwYgqGtJ6UEGfWUT0gMYCIlFP.jpg,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,1048575.0,NaN,NaN,NaN,301576.380263,5615899.740098,0.0,0.0,0.0,0.0,999999999.0
homepage,111822,105038,https://vimeo.com/user3392640,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imdb_id,541017,538830,tt32094375,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_language,1048575,176,en,573581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_title,1048566,924395,????????,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview,823765,797532,,1218,NaN,NaN,NaN,NaN,NaN,NaN,NaN
popularity,1048575.0,NaN,NaN,NaN,1.212535,7.839576,0.0,0.6,0.6,0.901,2994.357
poster_path,696645,692667,/sRs2R6qI9C3Liv3hWrQTdmoSqqp.jpg,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tagline,157540,151381,English,270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genres,613259,13431,Documentary,115883,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
print("\nDuplicate values:\n", df.duplicated().sum())
df.describe(include="all").T.head(20)

Duplicate values:
 375

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,1048575.0,NaN,NaN,NaN,820631.492759,468164.881715,2.0,420719.5,728751.0,1263762.5,1532449.0
title,1048566,900830,Home,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vote_average,1048575.0,NaN,NaN,NaN,2.070838,3.120089,0.0,0.0,0.0,5.0,10.0
vote_count,1048575.0,NaN,NaN,NaN,20.459518,331.56666,0.0,0.0,0.0,1.0,34495.0
status,1048575,6,Released,1015468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_date,832007,42295,01-01-2006,2901,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revenue,1048575.0,NaN,NaN,NaN,790323.104378,20596632.218036,-12.0,0.0,0.0,0.0,4999999999.0
runtime,1048575.0,NaN,NaN,NaN,47.380917,62.699866,-28.0,0.0,21.0,89.0,14400.0
adult,1048575,2,False,950804,NaN,NaN,NaN,NaN,NaN,NaN,NaN
backdrop_path,292019,289427,/3CxwYgqGtJ6UEGfWUT0gMYCIlFP.jpg,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,1048575.0,NaN,NaN,NaN,301576.380263,5615899.740098,0.0,0.0,0.0,0.0,999999999.0
homepage,111822,105038,https://vimeo.com/user3392640,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imdb_id,541017,538830,tt32094375,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_language,1048575,176,en,573581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_title,1048566,924395,????????,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview,823765,797532,,1218,NaN,NaN,NaN,NaN,NaN,NaN,NaN
popularity,1048575.0,NaN,NaN,NaN,1.212535,7.839576,0.0,0.6,0.6,0.901,2994.357
poster_path,696645,692667,/sRs2R6qI9C3Liv3hWrQTdmoSqqp.jpg,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tagline,157540,151381,English,270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genres,613259,13431,Documentary,115883,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(f"Filtered out movies released before 2000")
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce', dayfirst=True)
df['release_year'] = df['release_date'].dt.year
filtered_df = df[df['release_year'] >= 2000]
print(f"We have {filtered_df.shape[0]} movies released in or after 2000.")

Filtered out movies released before 2000
We have 563819 movies released in or after 2000.